#Nav {
    height: 66px;
    background: #104da1;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90000;
}

.nav-item li>a {
    position: relative;
    display: block;
    color: #d6e1f9;
}

.nav-links a {
    padding: 4px 23px 0;
    font-size: 17px;
    line-height: 61px;
}

.nav-item li {
    float: left;
    position: relative;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style: none;
}

ol, ul {
    list-style: none;
}